.events-header {
  display: flex;
  justify-content: center;
}

.page-title {
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin: 20px;
  text-align: center;
}

#landing-title {
  color: white;
  text-decoration: underline 2px;
  padding: 10px 0px;
}

main#landing-main {
  margin-top: 0px;
}

#ongoing-header {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin: 20px 0px;
  text-align: start;
}

#events-container {
  margin-left: 20px;
}

.card-images {
  width: 100%;
}

.image-container {
  width: 40%;
  margin-right: 5px;
}

#qr-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#qr-placeholder {
  width: 50%;
}

.card-title {
  font-size: 0.8rem;
}

.card-body {
  display: flex;
  height: 85px;
}

.card-p {
  font-size: 0.6rem;
}

.green-header-container {
  background-color: #2f6237;
}

.header-left {
  margin: 20px 0px 0px 20px;
  padding: 20px 0px;
  color: white;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.header-right {
  text-align: end;
  margin: 0px 20px 0px 0px;
  padding: 20px 0px;
  color: white;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

#projects-p-container {
  margin: 20px 20px 0px 20px;
}
#info-p-container-left {
  margin: 20px 20px 0px 20px;
}
#info-p-container-right {
  margin: 20px 20px 0px 20px;
}

.landing-p-container {
  text-align: center;
}
#landing-header {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

#btn-container {
  display: flex;
  justify-content: center;
}

#map-btn {
  padding: 5px 10px 5px 10px;
  border: 0;
  border-radius: 30px;
  background-color: #ffc2b3;
  width: 300px;
  height: 100px;
  color: white;
  font-size: 3rem;
  font-weight: 700;
  box-shadow: 0 4px 8px rgba(204, 85, 0, 0.4); /* #cc5500 */
}

.main-p {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.main-p-right {
  text-align: end;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
#carousel {
  display: flex;
  justify-content: center;
}
#carouselExampleIndicators {
  width: 100%;
}
.carousel-size {
  width: 100%;
  height: 450px;
}

@media (min-width: 721px) {
  .card-body {
    height: 110px;
  }
  .card-title {
    font-size: 1.1rem;
  }
  .card-p {
    font-size: 0.8rem;
  }
  .image-container {
    width: 21%;
  }
  #ongoing-header {
    font-size: 2.5rem;
  }
  .header-left {
    font-size: 2.5rem;
  }
  .header-right {
    font-size: 2.5rem;
  }
  .main-p {
    font-size: 1.5rem;
  }
  .main-p-right {
    font-size: 1.5rem;
  }
  #carouselExampleIndicators {
    width: 70%;
  }
}

@media (min-width: 1000px) {
  .page-title {
    font-size: 4rem;
  }
  #ongoing-header {
    font-size: 3rem;
  }
  .header-left {
    font-size: 3rem;
  }
  .header-right {
    font-size: 3rem;
  }
  .image-container {
    width: 16%;
  }
  #carouselExampleIndicators {
    width: 60%;
    margin-bottom: 15px;
  }
  #qr-placeholder {
    width: 25%;
  }
  #map-btn {
    width: 130px;
    height: 50px;
    border-radius: 20px;
  }
}

@media (min-width: 1400px) {
  .page-title {
    font-size: 4.5rem;
  }
  .card-title {
    font-size: 1.5rem;
  }
  .card-p {
    font-size: 1rem;
  }
  .image-container {
    width: 12%;
  }
  #carouselExampleIndicators {
    width: 45%;
  }
  #landing-header {
    font-size: 2rem;
  }
  .landing-p {
    font-size: 1.2rem;
  }
}

@media (min-width: 1800px) {
  .card-body {
    height: 130px;
  }
  .card-title {
    font-size: 1.7rem;
  }
  .card-p {
    font-size: 1.3rem;
  }
  .image-container {
    width: 11%;
  }
  #carouselExampleIndicators {
    width: 35%;
    margin-bottom: 25px;
  }
  #qr-placeholder {
    width: 20%;
  }
  #landing-header {
    font-size: 2.5rem;
  }
  .landing-p {
    font-size: 1.5rem;
  }
}

.bottom-image-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  z-index: 1000;
}

.bottom-image-nav img {
  width: 40px;
  height: 40px;
  margin-bottom: 3px;
}
